.img-event {
  position: absolute;
  right: -45px;
  max-width: 450px;
  top: 30px;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
} */
}

.glitch {
  position: absolute;
  top: -50px;
  right: -20px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  filter: drop-shadow(10px 5px 4px #4444dd);
}
